@using System.Globalization
@using SchoolDiary.Calendar.Models

<div data-day-of-week="@Day.DayOfWeek" onclick="@OnClick"
     class="day rounded-2 p-3 squad d-flex flex-column 
						bg-cream @(Day == Selected ? "bg-opacity-25" : "bg-opacity-10")">
	<div class="d-flex justify-content-between">
		<span>@DateTimeFormatInfo.GetAbbreviatedDayName(Day.DayOfWeek).ToUpper()</span>
		<span>@Day.Day.ToString("00")</span>
	</div>
	<div class="d-flex flex-column gap-1">
		@foreach (var lesson in Day.Lessons.OrderBy(l => l.Serial))
		{
			<LessonView Lesson="lesson">
				<Additional>
					<span class="badge bg-info-subtle text-info-emphasis align-self-center">
						@Day.HomeWorksCount(lesson.Subject)
					</span>
				</Additional>
			</LessonView>
		}
	</div>
	@if (Additional != null)
	{
		<div class="additional d-flex flex-column">
			@Additional
		</div>
	}
</div>

@code {
	DateTimeFormatInfo DateTimeFormatInfo { get; set; } = new CultureInfo("ru-RU").DateTimeFormat;
	[Parameter] [EditorRequired] public required DayModel Day { get; set; }
	[Parameter] [EditorRequired] public required DayModel Selected { get; set; }

	[Parameter] public EventCallback OnClick { get; set; }
	[Parameter] public RenderFragment? Additional { get; set; }
}