@page "/"
@using System.Globalization
@using Calendar.Models
@using SchoolDiary.Lessons.Models
@rendermode InteractiveServer

@inject CalendarService Calendar
@inject HomeWorkService HomeWorkService
@inject SubjectManager SubjectManager

<PageTitle>Календарь</PageTitle>

<div class="d-flex justify-content-between">
	<h1>Календарь заданий на @DateTimeFormatInfo.GetMonthName(Selected.Month)</h1>
	<EditSubjectsButton OnSuccess="Init"/>
</div>
<div class="d-flex gap-4">
	<div class="calendar flex-fill">
		@foreach (var day in Days)
		{
			<DayView Day="day" Selected="Selected" OnClick="() => Selected = day">
				<Additional>
					@if (day.DayOfWeek < DayOfWeek.Saturday)
					{
						<AuthorizeView Roles="Учитель">
							<EditScheduleButton Subjects="Subjects" Day="day" OnSuccess="Init"/>
						</AuthorizeView>
					}
				</Additional>
			</DayView>
		}
	</div>

	<aside class="w-25 d-flex flex-column">
		<div class="bg-cream bg-opacity-25 p-4 rounded rounded-2">
			<p><b>Задания на @(Selected.Day.ToString("00")) @DateTimeFormatInfo.MonthGenitiveNames[Selected.Month - 1]</b></p>
			<div class="d-flex flex-column gap-2">
				@foreach (var work in Selected.HomeWorks)
				{
					<div style="background-color: rgba(@work.Subject.Color);"
					     class="flex-fill p-2 rounded rounded-1 position-relative">
						<AuthorizeView Roles="Учитель">
							<div class="position-absolute btn btn-close" style="right: 5%;"
							     @onclick="() => RemoveHomeWork(work)"></div>
						</AuthorizeView>
						<p class="me-5">@work.Subject.Title</p>
						<p>@work.Exercise</p>
					</div>
				}
				@if (Selected.Lessons.Any())
				{
					<AuthorizeView Roles="Учитель">
						<AddHomeWorkButton Day="Selected" ReRender="() => ShouldRender()"/>
					</AuthorizeView>
				}
				else
				{
					<p>Выходной</p>
				}
			</div>
		</div>
	</aside>
</div>

@code {
	DateTimeFormatInfo DateTimeFormatInfo { get; set; } = null!;
	DayModel Selected { get; set; } = null!;
	List<DayModel> Days { get; set; } = [];
	List<SubjectModel> Subjects { get; set; } = [];

	protected override Task OnInitializedAsync()
	{
		var culture = new CultureInfo("ru-RU");
		DateTimeFormatInfo = culture.DateTimeFormat;
		Init();
		return base.OnInitializedAsync();
	}

	private void Init()
	{
		Subjects = SubjectManager.GetSubjects();
		Days = Calendar.GetCurrent().ToList();
		var day = Selected?.Day ?? DateTime.Today.Day;
		Selected = Days[day - 1];
		ShouldRender();
	}

	private void RemoveHomeWork(HomeWorkModel work)
	{
		if (HomeWorkService.Remove(work))
			Selected.HomeWorks.Remove(work);
	}

}
